
.bgContainer{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--secondaryColor);
  position: relative;
  width: 100%;
  height: 90vh;
  clip-path:inset(0 0 0 0);
}

.content_header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bgImgCon{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* .sib{
  width: 100%;
  height: 200px;
  background-image: url("/sibghatallah-03.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
} */

.sibBox{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  /* height: fit-content; */
  /* margin: 0 500px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sibBox label{
  /* max-width: 400px; */
}

/* Subtitle Styling */
.subtitle {
  text-align: center;
  max-width: 600px;
  font-size: 25px;
}