.card {
    /* border: 1px solid #a01010; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 1.4fr .1fr;
    /* grd */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: auto;
    height: auto;
    transition: transform 0.5s, box-shadow 0.3s;
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;
    /* background-image: url("gBG2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    background-color: #e2cdaf;

    /* flex: 0 0 85%; */
    /* scroll-snap-align: start; */
    /* padding: 20px; */
    /* background-color: #f0f0f0; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* margin-right: 10px; */

}

.maincard p, .card p{
    max-width: 450px;
}

div.card-row{
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* .expand:hover {
    transform: scale(1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover 
} */
.box{
    height: 90vh;
    /* margin-top: 100px; */
    margin: 50px 0px;

}

.cardBig h2{
    padding: 30px;
    margin-bottom: 20px;
}
.cardBig{
    display: flex;
    flex-direction: column;
    color: #603813;
    width: fit-content;
    text-align: center;
    /* justify-content: center; */
    align-items: center;

    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    height: fit-content;
}
.cardBig p{
    max-width: 800px;
}



.cardcontainer{
    /* background-image: url("gBG2.png"); */
    /* position: relative; */
    background-size: cover;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
}

.infobox{
    /* margin-top: 20px; */
    /* position:static; */
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #804b1a;
    background-color: #bba28070;
    color: #e2cdaf;
    color: #452c1f;
    text-align: center;
    justify-content: right;
    /* margin-bottom: 50px; */
    /* opacity: .; */
}

div.col2{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    grid-template-rows: repeat(3,fr);
    gap: 50px;
    /* justify-c?ntent: center; */
    text-align: center;
    justify-content: center;
    
}
.col2 p{
    max-width: 700px;
}
.grid-wide{
    grid-column-end: span 2;
    display: grid;
    justify-content: center;
    /* flex-direction: column; */
}

/* .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
  } */


.button{
    display: inline-block;
    padding: 5px 20px;
    background-color: #e2cdaf; /* Fill color */
    text-decoration: none;  /* removes the line */
    border: 1px solid #603813; /* Outline color */
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Box shadow */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    text-align: center;
}

.button:hover {
    background-color: #c29c66; /* Darker fill color on hover */
    color: #452c1f; /* Darker text color on hover */
    border-color: #452c1f; /* Darker outline color on hover */
}