.card {
    /* border: 1px solid #a01010; */
    display: grid;
    grid-template-columns: 1fr;
    /* grd */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 50%;
    transition: transform 0.5s, box-shadow 0.3s;
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;

    /* flex: 0 0 85%; */
    /* scroll-snap-align: start; */
    /* padding: 20px; */
    /* background-color: #f0f0f0; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* margin-right: 10px; */

}

.maincard p, .card p{
    max-width: 450px;
}

div.card-row{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.expand:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.maincard {

    /* border: 1px solid #a01010; */
    display: grid;
    grid-template-columns: 1fr;
    /* grd */
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    margin: auto;
    width: 65%;
    transition: transform 0.5s, box-shadow 0.3s;
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
    /* margin-top: 50px; */


    /* background-image: url("sibghatallah-03.png"); */

    /* background-image: url(bgImg.png"); */
}

.cardcontainer{
    /* background-image: url("gBG2.png"); */
    /* position: relative; */
    background-size: cover;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
}

/* .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: center;
  } */


.button{
    display: inline-block;
    padding: 5px 20px;
    background-color: #e2cdaf; /* Fill color */
    text-decoration: none;  /* removes the line */
    border: 1px solid #603813; /* Outline color */
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Box shadow */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

.button:hover {
    background-color: #c29c66; /* Darker fill color on hover */
    color: #452c1f; /* Darker text color on hover */
    border-color: #452c1f; /* Darker outline color on hover */
}