@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('nav.css');
@import url('card.css');
@import url('flickity.css');
/* Universal Selectors */
* {
    font-family: 'Playfair Display', serif;
    /* color: #603813; */
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body Styling */
body.home{
    color: #603813;
    height: 100vh;
}
body.infopage {
    background-color: #804b1a;
    background-color: #e2cdaf;
    height: 100vh;
    background-image: url("gBG2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
a{
    color: #603813;
}


/* Header Styling */
.header-image {
    background-image: url("gBG2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-color: #e2cdaf;
}
.header {
    position: relative;
    width: 100%;
    height: 90vh;
}

.header2 {
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: #603813; */
    height: 200px;
    margin-bottom: .01%;

}

/* Circle Styling */

.circle {
    justify-self: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-image: url("gBG2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-color: #e2cdaf;
    z-index: 2;
    color: #603813;
    align-self: center;
}
.maincard {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 50%;
    margin: auto;
    margin-top: 80px;

    /* width: 65%; */
    width: 600px;
    height: 600px;
    /* height: 50%; */
    transition: transform 0.5s, box-shadow 0.3s;
    text-align: left;
    margin-bottom: 50px;
    /* background-color: #804b1a; */
    background-image: url("gBG2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #bba28070;
}
.circle.top{
    width: 300px;
    height: 300px;
    justify-self: left;
    margin-top: 190px;
    margin-left: 40px;
    position: absolute;
    z-index: 5;
    /* background-color: #ba8448; */
}

.rectangle {
    margin-top: 190px;
    /* position: absolute; */
    width: 100%;
    height: 50px;
    background-color: #ba8448;
    background-image: url("./gBG2.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    /* opacity: 0.5; */
    z-index: 1; /* Place it behind other elements */
}

.highlight-dark{
    /* #ffa95a */
    color: #ffa95a;
}

div.list{
    display: flex;
    flex-direction: column;
}
.list label{
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
}
.list li{
 font-size: 20px;   
}
ul{
    text-align: left;
    /* text-decoration: none; */
}
li{
    list-style: none;
}

/* Content Header Styling */
.content-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.content-header img {
    max-width: 100%;
}

/* Subtitle Styling */
.subtitle {
    text-align: center;
    max-width: 600px;
    font-size: 25px;
}

/* Title Div Styling */
.titlediv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    margin: 0;
}
#mainTitle {
    margin-bottom: 0;
}

/* Dates Styling */
.dates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    background-color: #603813;
    padding: 10px;
    text-align: center;
}
.infoDiv {
    padding: 10px 0;
}
.infoDiv label:hover {
    color: white;
}
.infoDiv:not(:last-child) {
    border-right: 1px solid #e2cdaf;
}
.dates label {
    color: #e2cdaf;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

/* Responsive Styling */


/* Background Styling */
body {
    background-color: #e2cdaf;
    /* background-color: #804b1a; */
}

/* Image Styling */
.img {
    height: 40px;
}

/* Text Alignment */
.centered-text {
    text-align: center;
}
.minititle {
    margin-left: 15%;
}

.rightshift{
    margin-left: 400px;
}

/* Heading Styling */
h1 {
    font-size: 50px;
}

h1.darkbg {
    color: #e2cdaf;
}

h2 {
    font-size: 40px;
}

#gallerytitle{
    margin-bottom: 10px;
}

/* Label Styling */
label {
    font-size: 30px;
}
.small{
    font-size: 22px;
}

/* Footer Styling */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #603813;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 100;  */
}
.contact-info {
    max-width: 50%;
}
.contact-info p {
    color: #e2cdaf;
}
.map {
    max-width: 50%;
}

@media (max-width: 767px) {
    .dates {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
    }
    .infoDiv:not(:last-child) {
        border-right: none;
    }
    .maincard{
        width: fit-content;
        height: fit-content;
        border-radius: 5%;
    }


}
@media (max-width: 1200px){
    div.col2{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        align-items: center;
        /* margin-left: 0px; */
     
        /* grid-template-rows: 1fr; */
    }

    .infobox{
        padding-top: 160px;
    }
    .rightshift{
        margin-left: 0px;
    }
}

.description{
    font-size: 20px;
    text-align: left;
}
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  